{% extends 'app/base.html' %}

{% block content %}
<section class="col-lg-8">
        <form method="post">
            {% csrf_token %}
            <div class="row mb-3 align-items-center">
                <label for="input_1" class="col-sm-3 col-from-label">Title</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_1" name="title">
                </div>
            </div>
            <div class="row mb-3 align_items-center">
                <label for="input_3" class="col-sm-3 col-form-label">Text</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="10" name="text"></textarea>
                </div>
            </div>
            <div class="row mb-4 align-items-center">
                <label for="input_2" class="col-sm-3">Tags</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="input_2" name="tags">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 offset-3">
                    <button type="submit" class="btn btn-primary ps-4 pe-4">ASK</button>
                </div>
            </div>
        </form>
      </section>
{% endblock %}


