<article class="card mb-3 border-0">
  <div class="card-body">
    <div class="d-grid gap-3" style="grid-template-columns:70px 1fr;">
      <div class="d-flex flex-column align-items-center justify-content-between pt-2">
        <div class="mb-2 d-flex flex-column align-items-center" >
          <img src="{{ user_action.author.profile.avatar.url }}" class="rounded-circle" width="32" height="32">
          <div class="text-secondary">{{ user_action.author.user.username }}</div>
        </div>

        <div class="d-flex align-items-center gap-2" data-user_action-id="{{ user_action.id }}">

          {% if user_action.user_vote == 1 %}
            <button class="btn p-0 js-vote" type="button" data-vote="like">
              <i class="bi bi-caret-up-fill"></i>
            </button>
          {% else %}
              <button class="btn p-0 js-vote" type="button" data-vote="like">
                <i class="bi bi-caret-up"></i>
              </button>
          {% endif %}

          <span class="fs-6 js-rating">{{ user_action.like_amount }}</span>

          {% if user_action.user_vote == -1 %}
            <button class="btn p-0 js-vote" type="button" data-vote="dislike">
              <i class="bi bi-caret-down-fill"></i>
            </button>
          {% else %}
            <button class="btn p-0 js-vote" type="button" data-vote="dislike">
              <i class="bi bi-caret-down"></i>
            </button>
          {% endif %}

        </div>

      </div>

        {% block content %}
        {% endblock %}
    </div>
  </div>
</article>