{% extends 'components/base_card.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center text-center">
  <div class="position-relative mx-5">
    <a class="stretched-link fs-4 u-break" href="{% url 'app:question' item.pk %}">{{ item.title }}</a>
    <p class="text-secondary mb-3 u-break">{{ item.text }}</p>
  </div>
  <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
    <div class="d-flex flex-wrap gap-2">
        {% for tag in item.tags.all %}
          {% include 'components/tag_badge.html' with tag=tag.name %}
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}